<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
    "https://checkstyle.org/dtds/configuration_1_3.dtd">

<!--
ConstructorsDeclarationGrouping	Checks that all constructors are grouped together.
ExpressionOverBlockLambda	Checks that expression lambdas are used instead of single-line block lambdas where possible.
GoogleMethodName	Checks that method names conform to the Google Java Style Guide for method naming.
GoogleNonConstantFieldName	Checks that non-constant field names conform to the Google Java Style Guide for non-constant field naming.
HexLiteralCase	Checks that hexadecimal literals are defined using uppercase letters (A-F) rather than lowercase (a-f).
IllegalBlockTag	Detects a user-defined Javadoc block tag and reports a violation when the tag is present with text that does not match tagTextPattern.
IllegalSymbol	Checks that specified symbols (by Unicode code points or ranges) are not used in code.
InappropriateJavadocBlockTagsOnField	Checks that Javadoc block tags for field declarations do not contain tags that are semantically invalid for fields.
InappropriateJavadocBlockTagsOnPackage	Checks that Javadoc block tags for package definitions do not contain tags that are semantically invalid for packages.
InappropriateJavadocBlockTagsOnType	Checks that Javadoc block tags for type definitions (class, interface, enum, record, annotation) do not contain tags that are semantically invalid for types.
JavadocEndCommentDelimiter	Checks that the Javadoc closing delimiter contains exactly one asterisk before the slash.
JavadocLeadingAsteriskAlign	Checks the alignment of leading asterisks in a Javadoc comment.
JavadocLinkFirstOccurrence	Checks that in Javadoc comments, each API name is linked with {@link} or {@linkplain} only on its first occurrence.
JavadocLinkWellKnownApi	Checks that Javadoc comments avoid unnecessary {@link} and {@linkplain} tags for APIs that are considered well-known.
JavadocNoErrorInThrowsTag	Checks that Error types are not documented in @throws or @exception Javadoc tags.
JavadocParamOrder	Checks that @param tags in Javadoc comments are in the same order as the parameters in the declaration.
JavadocRegexp	Checks that Javadoc comments do not match a configured regular expression.
JavadocThrowsOrder	Checks that multiple @throws and @exception Javadoc tags are listed alphabetically by exception name.
LineEnding	Checks whether file uses a specific line-ending sequence (LF, CRLF, or CR).
MissingNullCaseInSwitch	Checks that a given switch statement or expression that use a reference type in its selector expression has a null case label.
MissingOverrideOnRecordAccessor	Verifies that explicitly declared record accessor methods include the @Override annotation.
ModuleDirectiveOrder	Checks the ordering, grouping and separation of directives in a module declaration.
ModuleImportOrder	Checks the ordering and placement of module import declarations.
MultiFileRegexpHeader	Checks the header of a source file against multiple header files that contain a pattern for each line of the source header.
MultilineCommentLeadingAsteriskPresence	Checks if the multi-line comments have leading asterisks on each line.
NumericalPrefixesInfixesSuffixesCharacterCase	Checks that all numerical literal prefixes, infixes, and suffixes are written using lowercase letters (for example prefixes : 0x, 0b, infixes : e, p, suffixes : f, d).
OpenjdkAnnotationLocation	Verifies that annotations are properly placed by OpenJDK Style.
PatternVariableAssignment	Checks for assignment of pattern variables.
PreferCodeOrSnippetJavadocInlineTag	Checks that Javadoc inline tags {@code ...} and {@snippet ...} are preferred over HTML tags <code> and <pre>.
PreferLiteralJavadocInlineTag	Checks that Javadoc inline tags are preferred over escaping entities.
SealedShouldHavePermitsList	Checks that sealed classes and interfaces have a permits list.
TextBlockGoogleStyleFormatting	Checks correct format of Java Text Blocks as specified in Google Java Style Guide.
TypeBodyPadding	Checks the padding of the body of type definitions (classes, interfaces, enums, records).
UnnecessaryFullyQualifiedType	Checks for fully qualified type references that are unnecessary because the type could simply be imported and referenced by its simple name.
UnnecessaryNullCheckWithInstanceOf	Checks for redundant null checks with the instanceof operator.
UnnecessaryTypeArgumentsWithRecordPattern	Checks for unnecessary explicit type arguments in record patterns.
UnusedCatchParameterShouldBeUnnamed	Ensures that catch parameters that are not used are declared as an unnamed variable.
UnusedLambdaParameterShouldBeUnnamed	Ensures that lambda parameters that are not used are declared as an unnamed variable.
UnusedPrivateField	Check that a private field is declared, but never used.
UnusedTryResourceShouldBeUnnamed	Ensures that try-with-resources resource variables that are not used are declared as an unnamed variable.
UseEnhancedSwitch	Ensures that the enhanced switch (using -> for case labels) is used instead of the traditional switch (using : for case labels) where possible.
WhenShouldBeUsed	Ensures that when is used instead of a single if statement inside a case block.
WhitespaceBeforeEmptyBody	Checks that a whitespace is present before the opening brace of an empty body.
-->

<module name="Checker">
    <property name="charset" value="UTF-8"/>
    <property name="severity" value="warning"/>
    <property name="fileExtensions" value="java"/>
    <module name="BeforeExecutionExclusionFileFilter">
        <property name="fileNamePattern" value="module\-info\.java$"/>
    </module>
    <module name="SuppressWarningsFilter"/>
    <!-- <module name="JavadocPackage"/> invalid due to tests and test fixtures -->
    <module name="FileTabCharacter"/>
    <module name="FileLength"/>
    <module name="LineLength">
        <property name="fileExtensions" value="java"/>
        <property name="max" value="199"/>
        <property name="ignorePattern" value="^package.*|^import.*|a href|href|http://|https://|ftp://"/>
    </module>
    <module name="Header">
        <property name="header"
                  value="/*\n * Copyright (c) 2019-2026. Ivan Vakhrushev and others.\n * https://github.com/mfvanek/pg-index-health\n *\n * This file is a part of &quot;pg-index-health&quot; - an embeddable schema linter for PostgreSQL\n * that detects common anti-patterns and promotes best practices.\n *\n * Licensed under the Apache License 2.0\n */"/>
        <property name="fileExtensions" value="java"/>
    </module>
    <!-- <module name="RegexpHeader"/> invalid -->
    <!-- <module name="RegexpMultiline"/> invalid -->
    <!-- <module name="RegexpOnFilename"/> invalid -->
    <!-- <module name="RegexpSingleline"/> invalid -->
    <!-- <module name="RegexpSinglelineJava"/> invalid -->
    <module name="NewlineAtEndOfFile"/>
    <module name="OrderedProperties"/>
    <module name="Translation"/>
    <module name="UniqueProperties"/>
    <module name="TreeWalker">
        <module name="SuppressWarningsHolder"/>
        <module name="AbbreviationAsWordInName">
            <property name="ignoreFinal" value="false"/>
            <property name="allowedAbbreviationLength" value="0"/>
            <property name="allowedAbbreviations" value="SSD,SQL"/>
            <property name="tokens"
                      value="CLASS_DEF, INTERFACE_DEF, ENUM_DEF, ANNOTATION_DEF, ANNOTATION_FIELD_DEF, PARAMETER_DEF, VARIABLE_DEF, METHOD_DEF, PATTERN_VARIABLE_DEF, RECORD_DEF, RECORD_COMPONENT_DEF"/>
        </module>
        <module name="AbstractClassName">
            <property name="ignoreName" value="true"/>
        </module>
        <module name="AnnotatedDeclarationVisibility"/>
        <module name="AnnotationLocation">
            <property name="id" value="AnnotationLocationMostCases"/>
            <property name="tokens"
                      value="CLASS_DEF, INTERFACE_DEF, ENUM_DEF, METHOD_DEF, CTOR_DEF,
                      RECORD_DEF, COMPACT_CTOR_DEF"/>
        </module>
        <module name="AnnotationLocation">
            <property name="id" value="AnnotationLocationVariables"/>
            <property name="tokens" value="VARIABLE_DEF"/>
            <property name="allowSamelineMultipleAnnotations" value="true"/>
        </module>
        <!--<module name="AnnotationOnSameLine"/> invalid -->
        <module name="AnnotationUseStyle"/>
        <module name="AnonInnerLength"/>
        <!-- <module name="ArrayBracketNoWhitespace"/> invalid -->
        <module name="ArrayTypeStyle"/>
        <!--<module name="AvoidInlineConditionals"/> invalid -->
        <module name="AvoidNestedBlocks"/>
        <module name="AvoidModuleImport"/>
        <module name="BooleanExpressionComplexity"/>
        <module name="ClassDataAbstractionCoupling"/>
        <module name="ClassFanOutComplexity"/>
        <!-- <module name="ClassMemberImpliedModifier"/> invalid -->
        <module name="RedundantModifier"/>
        <module name="CovariantEquals"/>
        <module name="CyclomaticComplexity"/>
        <module name="DeclarationOrder"/>
        <module name="DescendantToken"/>
        <!-- <module name="DesignForExtension"/> invalid -->
        <module name="EmptyForInitializerPad"/>
        <module name="EmptyForIteratorPad"/>
        <module name="EqualsAvoidNull"/>
        <module name="EqualsHashCode"/>
        <module name="ExecutableStatementCount"/>
        <module name="ExplicitInitialization"/>
        <module name="FinalClass"/>
        <module name="FinalLocalVariable"/>
        <module name="FinalParameters"/>
        <!-- <module name="HiddenField"/> useless -->
        <!-- <module name="HideUtilityClassConstructor"/> useless -->
        <module name="IllegalCatch"/>
        <module name="IllegalIdentifierName"/>
        <module name="IllegalInstantiation"/>
        <module name="IllegalThrows"/>
        <module name="IllegalType"/>
        <!-- <module name="ImportControl"/> not applicable -->
        <module name="InnerAssignment"/>
        <module name="InnerTypeLast"/>
        <module name="InterfaceIsType"/>
        <!-- <module name="InterfaceMemberImpliedModifier"/> invalid -->
        <module name="JavaNCSS"/>
        <module name="LambdaBodyLength">
            <property name="max" value="35"/>
        </module>
        <module name="LocalFinalVariableName"/>
        <!-- <module name="MagicNumber"/> invalid -->
        <!-- <module name="MatchXpath"/> not applicable -->
        <module name="MethodCount"/>
        <module name="MethodLength"/>
        <!-- <module name="MissingCtor"/> invalid -->
        <module name="MissingDeprecated"/>
        <module name="MissingOverride"/>
        <module name="ModifiedControlVariable"/>
        <!-- <module name="MultipleStringLiterals"/> invalid -->
        <module name="MutableException"/>
        <module name="NestedForDepth"/>
        <module name="NestedIfDepth"/>
        <module name="NestedTryDepth"/>
        <module name="NoCodeInFile"/>
        <module name="NoWhitespaceAfter"/>
        <module name="NPathComplexity"/>
        <module name="OuterTypeFilename"/>
        <module name="OuterTypeNumber"/>
        <module name="PackageAnnotation"/>
        <module name="PackageDeclaration"/>
        <module name="ParameterAssignment"/>
        <module name="ParameterNumber">
            <property name="max" value="13"/>
            <property name="ignoreOverriddenMethods" value="true"/>
        </module>
        <module name="RecordComponentNumber"/>
        <module name="RequireThis"/>
        <module name="ReturnCount">
            <property name="max" value="4"/>
        </module>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="SingleSpaceSeparator"/>
        <module name="StaticVariableName"/>
        <module name="StringLiteralEquality"/>
        <module name="SuperClone"/>
        <module name="SuperFinalize"/>
        <module name="SuppressWarnings"/>
        <module name="ThrowsCount"/>
        <module name="TodoComment"/>
        <!-- <module name="TrailingComment"/> invalid -->
        <module name="TypecastParenPad"/>
        <!-- <module name="UncommentedMain"/> useless -->
        <module name="UnnecessaryParentheses"/>
        <module name="UnnecessarySemicolonInEnumeration"/>
        <module name="UnnecessarySemicolonInTryWithResources"/>
        <module name="UnnecessarySemicolonAfterOuterTypeDeclaration"/>
        <module name="UnnecessarySemicolonAfterTypeMemberDeclaration"/>
        <module name="UnusedLocalVariable"/>
        <!-- <module name="VisibilityModifier"/> invalid -->
        <module name="IllegalToken"/>
        <module name="IllegalTokenText"/>
        <module name="AvoidEscapedUnicodeCharacters"/>
        <module name="AvoidStarImport"/>
        <!-- <module name="AvoidStaticImport"/> invalid -->
        <module name="OneTopLevelClass"/>
        <module name="NoLineWrap"/>
        <module name="EmptyBlock"/>
        <module name="NeedBraces"/>
        <module name="LeftCurly"/>
        <module name="RightCurly">
            <property name="option" value="same"/>
            <property name="tokens" value="LITERAL_TRY, LITERAL_CATCH, LITERAL_FINALLY, LITERAL_IF, LITERAL_ELSE, LITERAL_DO"/>
        </module>
        <module name="RightCurly">
            <property name="option" value="alone"/>
            <property name="tokens"
                      value="CLASS_DEF, METHOD_DEF, CTOR_DEF, LITERAL_FOR, LITERAL_WHILE, STATIC_INIT, INSTANCE_INIT, ANNOTATION_DEF, ENUM_DEF, INTERFACE_DEF, RECORD_DEF, COMPACT_CTOR_DEF"/>
        </module>
        <module name="WhitespaceAfter"/>
        <module name="WhitespaceAround"/>
        <!--<module name="ArrayTrailingComma"/> invalid due to NoArrayTrailingComma-->
        <module name="NoArrayTrailingComma"/>
        <module name="NoEnumTrailingComma"/>
        <module name="AvoidDoubleBraceInitialization"/>
        <module name="AvoidNoArgumentSuperConstructorCall"/>
        <module name="EmptyStatement"/>
        <module name="OneStatementPerLine"/>
        <module name="MultipleVariableDeclarations"/>
        <module name="MissingSwitchDefault"/>
        <module name="DefaultComesLast"/>
        <module name="FallThrough"/>
        <module name="UpperEll"/>
        <module name="ModifierOrder"/>
        <module name="NoClone"/>
        <module name="NoFinalizer"/>
        <module name="EmptyLineSeparator">
            <property name="allowNoEmptyLineBetweenFields" value="true"/>
            <property name="allowMultipleEmptyLines" value="false"/>
            <property name="allowMultipleEmptyLinesInsideClassMembers" value="false"/>
        </module>
        <module name="SeparatorWrap">
            <property name="id" value="SeparatorWrapDot"/>
            <property name="tokens" value="DOT"/>
            <property name="option" value="nl"/>
        </module>
        <module name="SeparatorWrap">
            <property name="id" value="SeparatorWrapComma"/>
            <property name="tokens" value="COMMA"/>
            <property name="option" value="EOL"/>
        </module>
        <module name="SeparatorWrap">
            <!-- ELLIPSIS is EOL until https://github.com/google/styleguide/issues/259 -->
            <property name="id" value="SeparatorWrapEllipsis"/>
            <property name="tokens" value="ELLIPSIS"/>
            <property name="option" value="EOL"/>
        </module>
        <module name="SeparatorWrap">
            <!-- ARRAY_DECLARATOR is EOL until https://github.com/google/styleguide/issues/258 -->
            <property name="id" value="SeparatorWrapArrayDeclarator"/>
            <property name="tokens" value="ARRAY_DECLARATOR"/>
            <property name="option" value="EOL"/>
        </module>
        <module name="SeparatorWrap">
            <property name="id" value="SeparatorWrapMethodRef"/>
            <property name="tokens" value="METHOD_REF"/>
            <property name="option" value="nl"/>
        </module>
        <module name="PackageName"/>
        <module name="TypeName"/>
        <module name="MemberName"/>
        <module name="ParameterName"/>
        <module name="LambdaParameterName"/>
        <module name="CatchParameterName"/>
        <module name="LocalVariableName"/>
        <module name="PatternVariableName"/>
        <module name="ClassTypeParameterName"/>
        <module name="RecordComponentName"/>
        <module name="RecordTypeParameterName"/>
        <module name="MethodTypeParameterName"/>
        <module name="InterfaceTypeParameterName"/>
        <module name="NoFinalizer"/>
        <module name="GenericWhitespace"/>
        <module name="Indentation"/>
        <!-- <module name="OverloadMethodsDeclarationOrder"/> invalid -->
        <module name="VariableDeclarationUsageDistance"/>
        <!-- <module name="ImportOrder"/> invalid -->
        <module name="CustomImportOrder">
            <property name="sortImportsInGroupAlphabetically" value="true"/>
            <property name="separateLineBetweenGroups" value="true"/>
            <property name="customImportOrderRules" value="THIRD_PARTY_PACKAGE###STANDARD_JAVA_PACKAGE###STATIC"/>
            <property name="tokens" value="IMPORT, STATIC_IMPORT, PACKAGE_DEF"/>
        </module>
        <module name="UnusedImports"/>
        <module name="RedundantImport"/>
        <module name="IllegalImport">
            <property name="id" value="IllegalImportMain"/>
            <property name="regexp" value="true"/>
            <property name="illegalClasses"
                      value="^org\.springframework\.lang\.(NonNull|Nullable), ^org\.jetbrains\.annotations\.(NotNull|Nullable),
                ^javax\.annotation\.(Nonnull|Nullable),
                ^javax\.annotation\.concurrent\.Immutable,
                ^javax\.annotation\.concurrent\.ThreadSafe,
                ^io\.micrometer\.core\.lang\.(NonNull|Nullable),
                ^org\.elasticsearch\.common\.Nullable, ^org\.apache\.thrift\.annotation\.Nullable,
                ^org\.junit\.Test, ^org\.junit\.jupiter\.api\.Assertions, ^org\.junit\.Test, ^org\.junit\.jupiter\.api\.Assertions\..*,
                ^org\.springframework\.boot\.test\.web\.client\.TestRestTemplate,^org\.springframework\.web\.client\.RestTemplate,^javax\.transaction\.Transactional,
                ^org\.springframework\.test\.web\.servlet\.MockMvc"/>
            <property name="illegalPkgs" value="^org\.hamcrest, ^javax\.annotation"/>
        </module>
        <module name="IllegalImport">
            <property name="id" value="IllegalImportJavaIo"/>
            <property name="regexp" value="true"/>
            <property name="illegalClasses"
                      value="^java\.io\.BufferedInputStream"/>
        </module>
        <module name="MethodParamPad"/>
        <module name="NoWhitespaceBefore"/>
        <module name="NoWhitespaceBeforeCaseDefaultColon"/>
        <module name="ParenPad"/>
        <module name="OperatorWrap">
            <property name="option" value="EOL"/>
        </module>
        <module name="NonEmptyAtclauseDescription"/>
        <module name="InvalidJavadocPosition"/>
        <module name="JavadocBlockTagLocation"/>
        <module name="JavadocContentLocationCheck"/>
        <module name="JavadocMissingLeadingAsterisk"/>
        <module name="JavadocMissingWhitespaceAfterAsterisk"/>
        <module name="JavadocTagContinuationIndentation"/>
        <!-- <module name="JavadocParagraph"/> invalid -->
        <module name="SummaryJavadoc">
            <property name="forbiddenSummaryFragments"
                      value="^@return the *|^This method returns |^A [{]@code [a-zA-Z0-9]+[}]( is a )"/>
        </module>
        <module name="RequireEmptyLineBeforeBlockTagGroup"/>
        <module name="AtclauseOrder">
            <property name="tagOrder" value="@param, @return, @throws, @deprecated"/>
            <property name="target" value="CLASS_DEF, INTERFACE_DEF, ENUM_DEF, METHOD_DEF, CTOR_DEF, VARIABLE_DEF"/>
        </module>
        <module name="JavadocMethod">
            <property name="accessModifiers" value="public, protected"/>
            <property name="allowMissingParamTags" value="true"/>
            <property name="allowMissingReturnTag" value="true"/>
            <property name="allowedAnnotations" value="Override, Test"/>
        </module>
        <!-- <module name="MissingJavadocMethod"/> invalid right now -->
        <module name="MissingJavadocPackage"/>
        <module name="JavadocType"/>
        <!-- <module name="JavadocVariable"/> invalid -->
        <!-- <module name="MissingJavadocType"/> invalid -->
        <!-- <module name="WriteTag"/> invalid -->
        <module name="MethodName"/>
        <module name="ConstantName"/>
        <module name="SingleLineJavadoc"/>
        <module name="EmptyCatchBlock">
            <property name="exceptionVariableName" value="expected|ignore"/>
        </module>
        <module name="CommentsIndentation">
            <property name="tokens" value="SINGLE_LINE_COMMENT, BLOCK_COMMENT_BEGIN"/>
        </module>
    </module>
</module>
