name: Java CI

on:
    push:
        branches:
            - master
    pull_request:
    schedule:
        # At 00:00 on Sunday
        - cron:  '0 0 * * SUN'

jobs:
    build:
        strategy:
            matrix:
                pg_version: ["13.0"]
        env:
            TEST_PG_VERSION: ${{ matrix.pg_version }}
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout
                uses: actions/checkout@v1
                with:
                    submodules: true
            -   name: Set up JDK 8
                uses: actions/setup-java@v1
                with:
                    java-version: 1.8
            -   name: Login to DockerHub
                uses: docker/login-action@v1
                with:
                    username: ${{ secrets.DOCKER_HUB_USER }}
                    password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
            -   name: Build with Gradle
                run: ./gradlew build
            -   name: Upload coverage to Codecov  
                uses: codecov/codecov-action@v1
                with:
                    fail_ci_if_error: true
                    verbose: false
