name: Java CI

on:
    push:
        branches:
            - master
    pull_request:

jobs:
    build:
        strategy:
            matrix:
                pg_version: [ "10.21", "11.16", "12.12", "13.8", "14.5", "15.0" ]
        env:
            TEST_PG_VERSION: ${{ matrix.pg_version }}
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout
                uses: actions/checkout@v3
                with:
                    submodules: true
                    fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
            -   name: Set up JDK 11
                uses: actions/setup-java@v2
                with:
                    distribution: 'adopt-hotspot'
                    java-version: '11'
                    cache: 'gradle'
            -   name: Cache SonarCloud packages
                uses: actions/cache@v3
                with:
                    path: ~/.sonar/cache
                    key: ${{ runner.os }}-sonar
                    restore-keys: ${{ runner.os }}-sonar
            -   name: Cache Gradle packages
                uses: actions/cache@v3
                with:
                    path: |
                        ~/.gradle/caches
                        ~/.gradle/wrapper
                    key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
                    restore-keys: |
                        ${{ runner.os }}-gradle-
            -   name: Build with Gradle and analyze
                if: matrix.pg_version == '14.5'
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
                    SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
                run: ./gradlew build sonarqube --info
            -   name: Build with Gradle
                if: matrix.pg_version != '14.5'
                run: ./gradlew build
            -   name: Upload coverage to Codecov
                if: matrix.pg_version == '14.5'
                uses: codecov/codecov-action@v2
                with:
                    fail_ci_if_error: true
                    verbose: false
